<%= image_tag 'http://v1.memecaptain.com/i?t1=&t2=%22Meow%2C%20world%21%22&u=http%3A%2F%2Ficanimalcenter.org%2FanimalImages%2F2032_1_f.jpg', :alt => 'Meow, world!' %>

<p>
There's not much to see right now, but you can <a href="https://github.com/OpenHackIC/animal_center">contribute on GitHub</a> if you'd like.
</p>

<p>
<%= link_to 'Barebones image captioner', new_captioned_image_path %>
</p>
