<h1>Meow, world!</h1>

<p>
There's not much to see right now, but you can <a href="https://github.com/OpenHackIC/animal_center">contribute on GitHub</a> if you'd like.
</p>

<p>
<%= link_to 'Barebones image captioner', new_captioned_image_path %>
</p>
