<a href="http://placekitten.com/"><img src="http://placekitten.com/g/200/300" /></a>

<h1>Meow, world!</h1>

<p>
There's not much to see right now, but you can <a href="https://github.com/OpenHackIC/animal_center">contribute on GitHub</a> if you'd like.
</p>

<a href="https://github.com/OpenHackIC/animal_center"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
