<a href="http://placekitten.com/"><img src="http://placekitten.com/g/200/300" /></a>

<h1>Meow, world!</h1>

<% demo_images = %w(
http://v1.memecaptain.com/i?u=http%3A%2F%2Ficanimalcenter.org%2FanimalImages%2F2050_0_f.jpg&t1=grumpy%20cat%3F&t2=i%27m%20happy%20cat
http://v1.memecaptain.com/i?u=http%3A%2F%2Ficanimalcenter.org%2FanimalImages%2F1520_1_f.jpg&t1=presents%3F!%3F!
http://v1.memecaptain.com/i?u=http%3A%2F%2Ficanimalcenter.org%2FanimalImages%2F2012_2_f.jpg&t1=good%20cat%20greg&t2=cleans%20his%20own%20litter%20box
) %>

<% demo_images.each do |url| %>
  <%= image_tag url %>
<% end %>

<p>
There's not much to see right now, but you can <a href="https://github.com/OpenHackIC/animal_center">contribute on GitHub</a> if you'd like.
</p>
