<h2>About</h2>
<p>
AdoptaLOL lets you add your own funny caption to a photo of an animal
up for adoption at the <a href="http://icanimalcenter.org">Iowa City
Animal Care and Adoption Center</a> and share it online. Find your family's next pet by viewing our hilarious animal captions
and see for yourself the joy of pet adoption.
</p>
<p>
AdoptaLOL began as a project for
the <a href="http://hackforchange.org/">National Day of Civic Hacking
2013</a>. 
</p>
<h3>Contributors</h3>
<p>
This app is a collaboration between lots of organizations and people.
Thanks to all of those that have contributed in one way or
another:
</p>
<p>
<a href="http://www.heroku.com"><img height="60" width="234" alt="heroku" src="https://logos.heroku.com/images/heroku-logo-light-234x60.png"></a>
<a href="http://busycoworking.com"><%= image_tag "busy-logo-noshadow-on-trans-light.png", height: '60' %></a>
<a href="http://facf.org"><img height="60" width="234" alt="Friends of the Animal Center Foundation" src="http://facf.org/templates/facf-interior/images/facf-logo.png"></a>
</p>
